<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>

<body>
    <section>
        <form action="#" th:action="@{/sendMessage}" th:object="${userMessager}" method="post">
            <div>
                hiiii
                <input type="text" name="message" class="ml-3" th:field="*{message}">
                <button type="submit">Send Message</button>
            </div>
        </form>
    </section>
</body>

</html>



<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseCode::layout(~{::section})">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>

<body>

    <section>
        <form action="sendMessage" th:object="${userMessager}">
            <div>

                hiiii
    
                <input type="text" name="message" class="ml-3" th:value="${userMessager.message}">
                <button > Sent Message</button>
            </div>
        </form>
    </section> -->
    <!-- <section class="signUpPage">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center  ">
                <div class="bg-white m-3 py-4">
                    <h1 class="pb-5">Log In Here</h1>                    
                    <form action="userLogin" method="post" th:object="${userData}">
                     
                        
                        <div class="mb-3">
                            <b><label for="" class="ml-5">Email : </label></b>
                            <input 
                                type="email" 
                                name="email"
                                class="ml-3"
                                th:value="${userData.email}"
                                th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}">
                            <div th:each="e : ${#fields.errors('email')}" th:text="${e}" class="invalid-feedback">
                            </div>
                        </div>
                        <br>
                        <div class="mb-3">
                            <b><label for="" class="ml-5">Password : </label></b>
                            <input 
                            type="password" 
                            name="password"
                            class="mx-auto"
                            th:value="${userData.password}"
                            th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}">
                            <div th:each="e : ${#fields.errors('password')}" th:text="${e}" class="invalid-feedback"></div>
                        </div>
                        <div>
                            <button class="btn btn-info mt-4">Log In</button>
                        </div>
                    </form>
                    
                </div>
            </div>
    </section> -->
<!-- </body>

</html> -->